<mat-tab-group>
  <mat-tab *ngFor="let year of years; let index = index" [label]="year">
    <section class="example-section">
      <mat-checkbox [checked]="allComplete" [indeterminate]="someComplete()" (change)="setAll($event.checked, year)">
        All
      </mat-checkbox>
      <ul class="example-list-section">
        <li *ngFor="let obj of months">
          <mat-checkbox [(ngModel)]="obj.ischecked" (change)="change($event, obj.name, year)">
            {{obj.name}}
          </mat-checkbox>
        </li>
      </ul>
    </section>


  </mat-tab>
</mat-tab-group>